
html{
  font-size: 16px;
  
}
body{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
 
#carousel figure {
	 
	width: 300;
	height: 200;
}
 