html{
  font-size: 16px;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Cookie', cursive;
}

body{
 
  margin: 0 auto;
  font-size:18px;
}

main{
    display:flex;
}
header{
    background-color: transparent;
    margin-top:3rem;
}
h1{
     margin-top :4rem;
     margin-bottom: 2rem;
    font-size: 5rem;
    opacity: .7;
    font-family: 'Cookie', cursive;
    font-style: italic;
    font-weight: bold;
}
#gallery{
    text-align: center;
    width:100%;
    
}
h2{
    color:white;
    margin-top : 2rem;
    font-size: 3.5rem;
     
    width:100%;
    opacity: .7;
    font-family: 'Cookie', cursive;
}

#btnContainer{
  display:flex;
  justify-content: space-between;
  width: 65%;
  flex-wrap: wrap;
  margin:0 auto;
  opacity: .6;
}

#inputSection{
    width:100%;
    display:flex;
}
 
#inputContainer{
    width:30%;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: .9;
}

#addToTerms{
  font-size:1.25rem;
  width: 25%;
  border-radius: 5%;
  align-content: center;
  margin: .25rem;
  font-weight: bold;
  color : #2E2E2E;
  opacity: .9;
  margin: 0 auto;
  font-family: 'Permanent Marker', cursive;
} 
#searchButtonContainer{
    width:60%;
    align-content: center;
    margin: .5rem;
     
}

label{
    opacity: .9;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 2rem;
    color: whitesmoke;
   
}
#searchInput{
    font-size:1.5rem;
    color:#2E2E2E;
    width:60%;
    opacity: .7;

}


.btnClass {
  font-size: 1.5rem;
  padding: .5rem;
  height: 5.5rem;
  width: 10rem;
  background-color:#9F9F9F;
  color: #2E2E2E;
  margin: .25rem;
  border-radius: .25rem;
  font-family: 'Permanent Marker', cursive;
}

#gallery{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
     
    margin: 0 auto;

}
figure{
    width:20%;
    display: inline-block;
    justify-content:space-between;
}
img{
    width: 100%;
    height: 15rem;
    
}
